* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: #00c6ff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#content h2 {
    font-size: 3rem;
    margin: 15px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#content button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

#content button:active {
    transform: translateY(2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

#save-text {
    margin-top: 20px;
    font-size: 1.1rem;
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
